.burgermenu {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
        .burgermenu_bar {
            background-color: rgb(51, 51, 51);
        }
    }
    &_bar {
        width: 100%;
        height: 5px;
        background-color: rgb(25, 25, 25);
        border-radius: 7px;
    }
}