header {
    padding: 2px;
    height: 35px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}
@import 'burgermenu';
@import 'cityadd';
.menu {
    &_slidebar {
        &_item {
            
        }
    }
}